@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Regular.woff2') format('woff2'),
       url('/fonts/Nexa-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Bold.woff2') format('woff2'),
       url('/fonts/Nexa-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Add other weights/styles as needed, e.g., Light, ExtraLight, Black */
