@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #ffffff;
  --foreground: #22266d;

  --vouch-dark-blue: 34 38 109;
  --vouch-bright-blue: 55 70 211;
  --vouch-gold: 206 162 74;
  --vouch-light-gold: 233 196 116;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #22266d;
    --foreground: #ffffff;
  }
}

body {
  @apply font-sans;
  line-height: 1.6; /* Increased line-height for better readability */
  letter-spacing: 0.02em; /* Subtle letter-spacing for a refined look */
}
